<% link_data_attributes =
  (
    if @overlay.eql?(false)
      { "data-turbo" => false }
    else
      { "data-turbo-frame": "form-frame", "data-action": "pilot--overlay#toggle" }
    end
  ) %>

<div data-controller="pilot--overlay">
  <%= link_to @url, 
    class: "flex gap-x-1 items-center block rounded bg-jade-600 px-4 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-jade-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-jade-600", 
    **link_data_attributes do %>
    <svg
      class="h-5"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
    </svg>
    <div><%= @title %></div>
  <% end %>
  <% if @overlay %>
    <%= render KwikScaffold::SlideOverComponent.new(title: @title, classes: "hidden") do %>
      <%= turbo_frame_tag "form-frame" do %>
        loading..
      <% end %>
    <% end %>
  <% end %>
</div>
