<div>
  <%= form_tag request.original_url, method: :get do %>
    <div class="flex items-center justify-between">
      <div class="flex border border-gray-200 items-center p-0 rounded-lg">
        <%= search_field_tag :q, params[:q], class: "text-sm w-full border-0 py-1.5 px-3 ring-1 ring-inset ring-gray-200 focus:ring-inset focus:ring-2 focus:ring-jade-500", placeholder: "search" %>
        <%= button_tag type: :submit, class: "px-2" do %>
          <svg class="h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        <% end %>
      </div>
      <div></div>
    </div>
  <% end %>
</div>
