  <div>
    <%= @form.label @method, @label, class: "block text-sm font-medium leading-6 text-gray-900 #{ "text-red-700" if @form.object.errors[@method].present? }" %>
    <div class="mt-2">
      <% if @type.eql?(:select) %>
        <%= @form.send @type, @method, @collection, @collection_options, **@options %>
      <% else %>
        <%= @form.send @type, @method, **@options %>
      <% end %>
      <% if @form.object.errors[@method].present? %>
        <div class="text-sm text-red-500 mt-1">
          <%= @form.object.errors[@method].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>
