<div class="flex flex-col items-center lg:flex-row lg:justify-between">
  <div class="py-3 text-center">
    <%== helpers.pagy_info(@pagy) %>
  </div>
  <%== helpers.pagy_nav(@pagy, size: 4) %>
</div>
